.app {
    background: url(../img/tools.240x240.png) no-repeat center top;
    position: absolute;             /* position in the center of the screen */
    left: 50%;
    top: 40%;
    height: 50px;                   /* text area height */
    width: 260px;                   /* text area width */
    text-align: center;
    padding: 300px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -120px 0px 0px -130px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

#landing .btn {
  margin-bottom: 15px;
}

#form {
  margin-top: 20px;
}

#form .form-group {
  margin-bottom: 8px;
}